

@import url('https://fonts.cdnfonts.com/css/porcelain-2');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #ffffff;
    overflow-x: hidden;
}

nav {
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}
h2 > a {
    text-decoration: none;
    color: white;
}

.navbar-nav > li > .dropdown-menu {    
    background-color: #198754; 
    color: white;
}

.navbar-nav > li > .dropdown-menu > .dropdown-item > a:hover {
    background-color: #198754 !important;
}


.dropdown > button > a {
    color: white;
    text-decoration: none;
}


h5, a {
    color: white !important;
}

li > a{
    color: white !important;
}



.login > form > * {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.carousel-item > img {
    object-fit: cover;
    height: 90vh;
    width: 100vw;
}

.carousel {
    height: 90vh;
}

.about {
    background-color: #025B30;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about > h1 {
    font-size: 5rem;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about > p {
    font-family: cursive;
    font-size: 2rem;
    margin-right: 2rem;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-svg {
    position: absolute;
    width: 250px;
    transform: translate(0%, -50%);
}

.login {
    border-radius: 50px;
    background-color: #79dd4e;
    background-image: url('https://raw.githubusercontent.com/Srikant-V-Subramanian/trizzglobal/main/23aecd473d976a953570553a0283af52.svg');
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 50vh;
    position: absolute;
    top: 25%;
    background-position: center;
    left: 65%;
}


.login > * {
    font-family: 'Porcelain', sans-serif;
    width: 100%;
    height: 100%;
    margin: 1rem;
}

.mobile-login {
    display: none;
}

.login > form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-group > label {
    font-size: 2.5rem;
}

.form-group:nth-child(1) {
    margin: 4.5rem 0rem;
}

.mobile-login > form > .form-group > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}


@media only screen and (max-width: 991.98px) {
    .about {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }

    .about > p {
        display: block;
        width: 90%;
        font-size: 1.5rem;
        text-align: center;
    }


    .about > * {
        text-align: center;
        width: 100%;
    }

    .login {
        display: none;
    }

    .mobile-login {
        background-color: #79dd4e;
        background-image: url('https://raw.githubusercontent.com/Srikant-V-Subramanian/trizzglobal/main/23aecd473d976a953570553a0283af52.svg');
        background-repeat: no-repeat;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 100vh;
        background-position: center;
    }

    .mobile-login > * {
        font-family: 'Porcelain', sans-serif;
        width: 100%;
        height: 100%;
        margin: 1rem;
    }

    .mobile-login > .login-svg {
        position: absolute;
        width: 250px;
        transform: translate(0%, -30%);
    }
    
    .mobile-login > form {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        flex-direction: column;
    }

    .leaderboard-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }



}


.navbar-nav > li > .dropdown-menu a:hover { 
    background-color: #ffffff;
    display: none;
}

.dropdown-item {
    pointer-events: none !important;
}


.leaderboard {
    background-image: url('./bf85c133d39c9e3974a3caf42359f817.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 10vh;
    min-height: 90vh;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
}
 
p {
    color: white;
}

.grp-1 {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 50%;
    flex-wrap: wrap;
}

.name {
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.leaderboard > .leaderboard-svg {
    transform: translateY(50%);
    z-index: 1;
}

.leaderboard-item {
    min-height: 12vh;
    min-width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #036b39;
    margin-top: 10px;
}

.number {
    color: white;
}

.date {
    color: bisque;
}

.rank {
    position: relative;
    transform: translateX(-50%);
    width: 175px;
}

.leaderboard > .leaderboard-list {
    background-color: #06914d;
    border-radius: 50px;
    padding: 6rem;
    opacity: 0.9;
    margin: 0rem 1rem 1rem 1rem;
}

.navbar-brand {
    font-size: 500px;
}

.offcanvas-title {
    font-size: larger;
    
}

.nav-item {
    width: 50%;
    font-size: large;
}